* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 20px;
}

h2 {
    padding-bottom: 8px;
}

.container {
    background-color: #191B2B;
    width: 100vw;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.block {
    width: 450px;
    background-color: #252848;
    padding: 20px 24px;
    border-radius: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.top {
    min-height: 240px;
}

.bottom {
    min-height: 110px;
}


/* --------- Block 1: Graph --------- */


/* --------- Block 2: Trading History --------- */
.history-block {
    width: 100%;
    height: 160px;
    background-color: #c9b8ffea;
    overflow: auto;
    border-radius: 8px;
    padding: 4px 8px;
    margin-top: 8px;
}

.history-block div {
    padding: 4px 4px;
    color: #111;
    border-bottom: 3px solid #96949447;
}

/* WebKit scrollbar styles */
.history-block::-webkit-scrollbar {
  width: 12px;
}

.history-block::-webkit-scrollbar-thumb {
  background: #aea5a5;
  border-radius: 10px;
}

.history-block::-webkit-scrollbar-thumb:hover {
  background: #9e9696;
}

::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  margin: 10px;
}

/* --------- Block 3: Market & Balance --------- */
.row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.stock-block {
    display: flex;
}
.market-block {
    padding-right: 16px;
}
.balance-block {
    padding-left: 16px;
    border-left: 4px solid #111111;
}
.stock-block, .your-stock-block, .cash-block {
    display: flex;
    justify-content: space-between;
}



/* --------- Block 4: Sell/Buy Section --------- */
label {
    font-size: 14px;
    font-weight: bold;
}
input {
    color: #111;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 0 12px;
    height: 40px;
}
.row-3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 12px;
    padding-top: 8px;
}

.button {
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
    transition-duration: 400ms;
}

.sell {
    background-color: #FF4D4D;
}

.buy {
    background-color: #00D25E;
}

/* --------- Responsive --------- */

@media (max-width: 1000px) {
    .container {
        padding-top: 40px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .block {
        max-width: 450px;
        width: 90vw;
    }
}

@media (max-width: 500px) {
    .row-2 {
        grid-template-columns: 1fr;
    }
    .balance-block {
    padding-left: 0;
    border-left: 0;
    margin-top: 16px;
    padding-top: 12px;
    border-top: 4px solid #11111193;
    }
    .row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    .row-3 > :nth-child(1) {
        grid-column: 1 / -1; /* span both columns */
    }
}